body {
	background-image: url("homePageBackground.jpg");
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	
	color: #FFE4E1;
	font-family: verdana;
	font-size: 500%;
	text-align: center;
}

.linkContainer {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding-top: 50px;
}

a {
	font-size: 200%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 30px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

a:hover{
	opacity: 0.8;
}