body {
	background-image: url("homePageBackground.jpg");
	background-attachment:fixed;
	background-size: cover;
}
h1 {
	
	color: #FFE4E1;
	font-family: verdana;
	font-size: 500%;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

#register {
	font-size: 250%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 30px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

#login {
	font-size: 250%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 30px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

#login:hover {
	opacity: 0.8;
}

#register:hover {
	opacity: 0.8;
}