body {
	background-image: url("homePageBackground.jpg");
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	color: #FFE4E1;
	font-family: verdana;
	font-size: 500%;
	text-align: center;
}

.form{
	display:flex;
	justify-content: center;
	padding: 10px; 	
}

.link{
	display: flex;
	justify-content: center;	
	gap: 50px;
}

input{
	font-size: 150%;
}

input#deleteButton {
	font-size: 120%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 5px;
}

input#deleteButton:hover {
	opacity: 0.8;
}

a {
	font-size: 150%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

a:hover {
	opacity: 0.8;
}

.errorMessage{
	font-family: verdana;
	color:#B22222;
}