body {
	background-image: url("homePageBackground.jpg");
	background-attachment: fixed;
	background-size: cover;
}
h1 {
	
	color: #FFE4E1;
	font-family: verdana;
	font-size: 500%;
	text-align: center;
}

.mainContainer{
	display: flex;	
	justify-content: center;
}

.formContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #FFE4E1;
	border-radius: 10px;
	gap: 30px;
	padding: 10px 20px 10px 20px;
}

.registerButton {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.errorMessage{
	font-family: verdana;
	color:#B22222;
}

#register {
	font-size: 250%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 30px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

#register:hover {
	opacity: 0.8;
}


input {
	font-size: 170%;
}

input#loginButton {
	font-size: 150%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 5px;
}

input#loginButton:hover {
	opacity: 0.8;
}