body {
	background-image: url("shoppingBackground.jpg");
	background-attachment: fixed;
	background-size: cover;
}

img{
	height: 500px;
}

.heading{
	display:flex;
	justify-content: center;	
}

h1 {
	color: #FFE4E1;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
	background: radial-gradient(circle at bottom, navy 0, black 100%);
	border-radius: 20px;
	padding: 30px;
}

.itemPicture {
	display:flex;
	justify-content: center;
}


.description1{
	display:flex;
	justify-content: center;
	
}

.description2{
	display:flex;
	justify-content: center;
}

ul{
	font-size: 150%;
	color: white;
	background: radial-gradient(circle at bottom, navy 0, black 100%);
	border-radius: 20px;
	padding: 2.5%;
	font-family: verdana;
}


span{
	font-size: 120%;
	font-family: verdana;
}
.form{
	display:flex;
	justify-content: center;
	padding: 10px;
}

.link{
	display: flex;
	justify-content: center;	
	gap: 50px;
}

input{
	font-size: 150%;
}

input#orderButton {
	font-size: 120%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 5px;
}

input#orderButton:hover {
	opacity: 0.8;
}

a {
	font-size: 150%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

a:hover {
	opacity: 0.8;
}