
h1 {
	border-radius: 20px;
	background-color:#6495ED;
	color: white;
	font-family: "Lato", sans-serif;
	font-size: 500%;
	text-align: center;
	padding: 50px;
}
.profilePicture{
	display: flex;
	justify-content: center;
}

img#myImage{
	height: 200px;
	width: 200px;
	border-radius:65%;
	object-fit: cover;
	background-color: powderblue;
	border-color: #FFE4E1;
}

.customerProfile{
	font-family: "Lato", sans-serif;
}

.link {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding-top: 5%;
}

.customerDetails{
	float: left;
	color: white;
	background-color: #6495ED;
	border-radius: 20px;
	padding: 10px;
	font-weight: bold;
	margin-right: 15px;
}

.parcelDetails{
	display: inline-block;
	overflow: auto;
	color: white;
	font-weight: bold;
	background-color:#6495ED;
	border-radius: 20px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	padding: 10px;
}

.parcelLiveDetails{
	display: block;	
	padding: 20px;
}

a {
	font-size: 100%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: thin;
}
.parcelCollected{
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

input#parcelCollectedButton{
	font-size: 70%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	font-weight: bold;
}

input#parcelCollectedButton:hover{
	opacity: 0.8;
}

.editAddress{
	display: flex;
	justify-content: center;
}
.editAddress:hover{
	opacity:0.8;
}

a#editAddress{
	font-size: 70%;
	border-radius: 5px;
	background-color: #B22222;
	color: white;
	font-family: verdana;
	text-decoration:none;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	font-weight: bold;
}

a:hover{
	opacity:0.8;
}

img {
	height: 500px;
}

h2 {
	display:flex;
	justify-content: center;
}