<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/details.css">
		<meta charset="UTF-8">
		<title>Customer Details Page</title>
	</head>
	<body>
		<h1>Enter Address, First Name and Last Name</h1>
		<div class="form">
			<form method="post" th:object="${customer}">
				<input type="text" name="address" placeholder="Address">
				<input type="text" name="firstName" placeholder="First Name">
				<input type="text" name="lastName" placeholder="Last Name">
				<input id="updateButton" type="submit" value="Update">
			</form>
		</div>	
		<div class="link">
			<a th:href="@{/customers/{id}(id=${customer.id})}">Return to Profile Page</a>
			<a href="/dashboard">Return to dashboard</a>
			<a href="/logout">Logout</a>
		</div>	
	</body>
</html>