<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/locationdeletion.css">
		<meta charset="UTF-8">
		<title>Location Deletion Page</title>
	</head>
	<body>
		<h1>Delete a location entity</h1>
		<div class="form">
			<form method="post" action="delete">
				<input type="text" name="country" placeholder="Country">
				<input type="text" name="city" placeholder="City">
				<input id="deleteButton" type="submit" value="Delete Location">
			</form>
			<div class="errorMessage" th:if="${error}">
					<p>Invalid location input</p>
			</div>
		</div>	
		<div class="link">
			<a href="/locations">Go to Location Creation Page</a>
			<a href="/admindashboard">Go back to Admin Dashboard</a>
		</div>
	</body>
</html>