<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/parcel.css">
		<meta charset="UTF-8">
		<title>Shopping Website</title>
	</head>
	<body>
		<div class="heading">
			<h1>Welcome to ABC's Store!</h1>
		</div>
		<div class="items">
			<div class="item1">
				<div class="itemName">
					<h2>iPhone 13 128GB Storage</h2>
				</div>
				<div class="itemPicture">
					<img src="/iphone13.jpg">
				</div>
				<div class="itemPrice">
					<p id="itemPrice"> Retail Price: $988.05 </p>
				</div>
				<div class="form">
					<form action="/dashboard/parcels/1">
			    		<input type="submit" value="Place Order" />
					</form>	
				</div>		
			</div>
			<div class="item2">
				<div class="itemName">
					<h2>240W Apple USB-C Charge Cable (2m)</h2>
				</div>
				<div class="itemPicture">
					<img src="/appleChargingCable.jpeg">
				</div>
				<div class="itemPrice">
					<p id="itemPrice"> Retail Price: $45.40 </p>
				</div>
				<div class="form">
					<form action="/dashboard/parcels/2">
			    		<input type="submit" value="Place Order" />
					</form>	
				</div>		
			</div>
			<div class="item3">
				<div class="itemName">
					<h2>Samsung 970 EVO Plus NVMe M.2 SSD 2TB</h2>
				</div>
				<div class="itemPicture">
					<img src="/samsungSSD.jpg">
				</div>
				<div class="itemPrice">
					<p id="itemPrice"> Retail Price: $282 </p>
				</div>
				<div class="form">
					<form action="/dashboard/parcels/3">
			    		<input type="submit" value="Place Order" />
					</form>	
				</div>	
			</div>
			<div class="item4">
				<div class="itemName">
					<h2>MSI GeForce RTX 3070 GAMING X TRIO</h2>
				</div>
				<div class="itemPicture">
					<img src="/MSIRTX3070.jpg">
				</div>
				<div class="itemPrice">
					<p id="itemPrice"> Retail Price: $1080 </p>
				</div>
				<div class="form">
					<form action="/dashboard/parcels/4">
			    		<input type="submit" value="Place Order" />
					</form>	
				</div>	
			</div>
		</div>
		<div class="link">
			<a href="/dashboard">Return to Dashboard</a>
			<a href="/logout">Logout</a>
		</div>
	</body>
</html>