<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Shopping Website</title>
	</head>
	<body>
		<h1>Online Store</h1>
		<div>
			<h1>Item 1</h1>
			<form method="post" action="/dashboard/parcels/1">
	    		<input type="submit" value="Place Order" />
			</form>	
		</div>
		<div>
			<h1>Item 2</h1>
			<form action="/dashboard/parcels/2">
	    		<input type="submit" value="Place Order" />
			</form>	
		</div>
		<div>
			<h1>Item 3</h1>
			<form action="/dashboard/parcels/3">
	    		<input type="submit" value="Place Order" />
			</form>	
		</div>
		<div>
			<h1>Item 4</h1>
			<form action="/dashboard/parcels/4">
	    		<input type="submit" value="Place Order" />
			</form>	
		</div>
		<a href="/dashboard">Return to Dashboard</a>
		<a href="/logout">Logout</a>
	</body>
</html>