<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/parcel3.css">
		<meta charset="UTF-8">
		<title>Parcel 2 Website</title>
	</head>
	<body>
		<div class="heading">
			<h1>Samsung SSD 2TB</h1>
		</div>
		<div>
			<div class="itemPicture">
				<img src="/samsungSSD.jpg">
			</div>
			<div class="itemDescription">
				<div class="description1">
					<ul>
						<li>Samsung V-NAND technology</li>
						<li>Up to 3,500 MB/s read and 3,300 MB/s write speeds</li>
						<li>Up to 1,200 TBW or 5-year limited warranty</li>
					</ul>
				</div>
			</div>
			<div class="form">
				<form method="post" action="/dashboard/parcels/3">
					<input type="text" id="creditCardForm" name="creditCard" placeholder="XXXX XXXX XXXX XXXX">
					<input type="month" id="creditCardExpiry" name="creditCardExpiry">
					<input type="password" id="creditCardPIN" name="creditCardPIN" placeholder="CVV/CVC">
					<input type="checkbox" id="checkBox" onchange="hideForm('checkBox','form')"/> 
					<span> Enter Different Shipping Address </span>
		    		<input type="text" id="form" name="shippingAddress" placeholder="Shipping Address" style="display:none"/>
		    		<input id="orderButton" type="submit" value="Confirm Order" onclick="successfulOrder()" />
				</form>	
			</div>
		</div>
		<div class="link">
			<a href="/dashboard/parcels">Previous Page</a>
			<a th:href="@{/customers/{id}(id=${customer.id})}">Profile Page</a>
		</div>
		<script>
			function hideForm(checkBox, form) {
				if (document.getElementById(checkBox).checked == true) {
				    document.getElementById(form).style.display = "block";
				}
				else {
					document.getElementById(form).style.display = "none";
				}
			}
			function successfulOrder(){
				var value1 = document.getElementById("creditCardForm").value;
				var value2 = document.getElementById("creditCardPIN").value;
				if(value1.length != 19 || value2.length != 3){
					alert("Invalid input!");
				}
				else{
					alert("Order created!");
				}
			}
			const input = document.getElementById("creditCardForm");
			input.addEventListener("input", () => input.value = formatNumber(input.value.replaceAll(" ", "")));

			const formatNumber = (number) => number.split("").reduce((seed, next, index) => {
			  if (index !== 0 && !(index % 4)) seed += " ";
			  return seed + next;
			}, "");
		</script>
	</body>
</html>