<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Customer Profile Page</title>
	</head>
	<body>
		<h1>Customer Profile:</h1>
		<h2><span th:text="${customer.username}"></span></h2>
		<div th:object="${customer}">
			<ul>
				<li th:text="*{username}"></li>
				<li th:text="*{password}"></li>	
				<li th:text="*{address}"></li>
				<li th:text="*{firstName}"></li>
				<li th:text="*{lastName}"></li>			
			</ul>
		</div>
		<a th:href="@{/customers/{id}/details(id=${customer.id})}">Edit Profile Details</a>
		<a href="/dashboard">Return to dashboard</a>
		<a href="/logout">Logout</a>
	</body>
</html>