<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/profilepicture.css">
		<meta charset="UTF-8">
		<title>Customer Profile Picture Edit Page</title>
	</head>
	<body>
		<h1>Enter URL to change Profile Picture:</h1>
		<div class="form">
			<form method="post">
				<input type="text" name="profilePictureURL" placeholder="Profile Picture URL">
				<input id="changeProfile" type="submit" value="Change Profile Picture" onclick="successfulEdit()">
			</form>
		</div>
		<div class="link">
			<a th:href="@{/customers/{id}(id=${customer.id})}">Return to Profile Page</a>
			<a href="/dashboard">Return to dashboard</a>
			<a href="/logout">Logout</a>
		</div>	
		<script>
		function successfulEdit(){
			alert("Profile picture has been successfully changed");
		}
		</script>
	</body>
</html>