<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/statuscreation.css">
		<meta charset="UTF-8">
		<title>Status Creation Page</title>
	</head>
	<body>
		<h1>Create a status entity</h1>
		<div class="form">
			<form method="post" action="statuses">
				<input type="text" name="status" placeholder="Status">
				<input id="createButton" type="submit" value="Create Status">
			</form>
		</div>
		<div class="link">
				<a href="/statuses/delete">Go to Status Deletion Page</a>
				<a href="/admindashboard">Go back to Admin Dashboard</a>
		</div>
	</body>
</html>