<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/statusdeletion.css">
		<meta charset="UTF-8">
		<title>Status Deletion Page</title>
	</head>
	<body>
		<h1>Delete a status entity</h1>
		<div class="form">
			<form method="post" action="delete">
				<input type="text" name="statusName" placeholder="Status Name">
				<input id="deleteButton" type="submit" value="Delete Status">
			</form>
		</div>	
		<div class="link">
			<a href="/statuses">Go to Status Creation Page</a>
			<a href="/admindashboard">Go back to Admin Dashboard</a>
		</div>
	</body>
</html>